---
title: Getting Started
doc_title: Getting Started on Snap CI
---

Snap CI is a hosted continuous integration and continuous delivery service. Getting started with Snap is straightforward for most applications. At its simplest, the steps involved are:

## Step 1: Sign in

To sign up with Snap, visit [Snap CI](https://snap-ci.com) and click on the Sign in link at the top.

When you sign in, GitHub will ask if you want to give a set of
permissions to Snap. You may <%= topic_link 'How Snap integrates with GitHub', 'learn more' %> about them.

## Step 2: Add your repository

Once you are signed in, Snap will present a list of all the
repositories you have access to. You may only build repositories. If
you are an administrator on any of those repositories, you may build
that repository on Snap.

## Step 3: Configure your build

When you select a repository to build on Snap, we will attempt to
automatically detect some popular configurations for your build. We look for languages versions, build tools files, dependency managers and other conventions that may indicate how your build could be set up.

In this guide we'll use a ruby repository, but we do support <a href="/the-ci-environment/languages/">lots of other languages</a>.

<%= retina_image 'screenshots/getting-started/build-default' %>

As most of the ruby repositories, this one uses a dependency manager tool call [**bundler**](http://bundler.io/) and the [**rspec**](http://rspec.info/) testing framework.

Because of that, Snap automatically added the default command for each of them: `bundle install --path ${SNAP_CACHE_DIR}/.bundle` and `rake spec` respectively.

Most of the times that would be everything needed to run your tests. However, there may be some commands that are pre-requisites to it. In this specific build, we need to execute the command `bundle exec foreman start &`. It can be done simply by adding it before `bundle exec rake spec`.

<%= retina_image 'screenshots/getting-started/build-foreman' %>

All that's left to do is click **Build now** and let Snap run our build.

<%= retina_image 'screenshots/getting-started/build-running' %>

## Congratulations!

You have just set up your first project on Snap! Now you're ready to start doing continuous integration.

Follow the what's next link to get to know more about what you can do with Snap.

##Still having problems?

Don't hesitate to [contact us](<%= data.links.contact_us %>) if you need more assistance.

#What's next

<%= topic_link 'using pipelines', 'Using pipelines' %>

<%= topic_link 'deploying with snap', 'Where can I deploy using Snap?' %>

<%= topic_link 'debugging', 'My build is failing for unknown reasons, is there someway I can debug the build?' %>

#Couldn't find what you were looking for?

Check out our <%= topic_link 'faq', 'FAQ' %> or <%= topic_link 'Troubleshooting', 'troubleshooting' %> pages.

We'll be glad to help, just [contact us](<%= data.links.contact_us %>).
