<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <title><%= current_page.data.title %> | Snap CI | Hosted Continuous Integration</title>
    <meta name="viewport" content="width=device-width">
    <%= tag(:meta, :development => current_page.app.development?) %>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application" %>
  </head>

  <body class="<%= page_classes %>">
    <div class="container">
      <div class="site">
      <%= partial "partials/header" %>
        <div class="content">
          <div class="sidebar-container">
            <div class="topic-container">
              <%= partial "partials/sidebar" %>

              <div class="topic">
                <h1 class="doc-title">
                  <a href="<%= current_page.url %>"><%= current_page.data.doc_title || current_page.data.title %></a>
                  <% if current_page.data.draft %>
                    <span class='draft'>(This is currently a draft!)</span>
                  <% end %>

                  <% if current_page.data.wip %>
                    <span class='draft'>(WIP - This functionality is currently in preview)</span>
                  <% end %>
                </h1>
                <div class="doc-content">
                  <%= yield %>
                </div>
              </div>

            </div>
          </div>
        </div>

        <%= partial "partials/footer" %>
      </div>
    </div> <!-- /container -->
  </body>
</html>
