---
title:  "Complete List of Packages"
doc_title: 'Complete List of Packages on Snap CI'
---

This is a complete listing of the CI environment that Snap offers.

# Operating System

* CentOS `<%= data.versions.centos %>`, 64-bit
* kernel `<%= data.versions.kernel %>`

# All Available Packages

<table class='all-available-packages'>
  <% for package in data.packages %>
  <tr>
    <td><%= package[0] %></td>
    <td><%= package[1] %></td>
    <td><%= package[2] %></td>
  </tr>
  <% end %>
</table>
